# Imports

In [1]:
import pyaurorax
import datetime
import pprint
import pandas as pd

aurorax = pyaurorax.PyAuroraX()

# Search for conjunctions

In [3]:
# search for conjunctions between any THEMIS-ASI intrument and any Swarm instrument
start = datetime.datetime(2020, 1, 1, 0, 0, 0)
end = datetime.datetime(2020, 1, 1, 6, 59, 59)
ground = [{"programs": ["themis-asi"]}]
space = [{"programs": ["swarm"]}]
distance = 500

In [4]:
# perform search
s = aurorax.search.conjunctions.search(start, end, distance, ground=ground, space=space, verbose=True)

[2024-06-17 19:53:46.425510] Search object created
[2024-06-17 19:53:46.480896] Request submitted
[2024-06-17 19:53:46.480896] Request ID: 2e2027dd-ae9f-4e38-aba4-f6bdf5e30e61
[2024-06-17 19:53:46.480896] Request details available at: https://api.aurorax.space/api/v1/conjunctions/requests/2e2027dd-ae9f-4e38-aba4-f6bdf5e30e61
[2024-06-17 19:53:46.480896] Waiting for data ...
[2024-06-17 19:53:47.587181] Checking for data ...
[2024-06-17 19:53:47.674404] Data is now available
[2024-06-17 19:53:47.674404] Retrieving data ...
[2024-06-17 19:53:47.806341] Retrieved 376.7 kB of data containing 49 records

In [5]:
# output data as a pandas dataframe
conjunctions = [c.__dict__ for c in s.data]
df = pd.DataFrame(conjunctions)
df.sort_values("start")

,conjunction_type,start,end,data_sources,min_distance,max_distance,events,closest_epoch,farthest_epoch
43,nbtrace,2020-01-01T00:08:00,2020-01-01T00:09:00,"[DataSource(identifier=53, program='themis-asi...",206.588207,260.819127,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:09:00,2020-01-01T00:08:00
15,nbtrace,2020-01-01T00:08:00,2020-01-01T00:09:00,"[DataSource(identifier=53, program='themis-asi...",192.029390,336.631805,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:09:00,2020-01-01T00:08:00
39,nbtrace,2020-01-01T00:10:00,2020-01-01T00:11:00,"[DataSource(identifier=51, program='themis-asi...",195.554240,298.419001,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:10:00,2020-01-01T00:11:00
12,nbtrace,2020-01-01T00:10:00,2020-01-01T00:11:00,"[DataSource(identifier=51, program='themis-asi...",282.877438,285.744881,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:10:00,2020-01-01T00:11:00
29,nbtrace,2020-01-01T00:11:00,2020-01-01T00:13:00,"[DataSource(identifier=46, program='themis-asi...",53.391843,441.814398,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:12:00,2020-01-01T00:11:00
4,nbtrace,2020-01-01T00:12:00,2020-01-01T00:13:00,"[DataSource(identifier=46, program='themis-asi...",89.436436,332.998863,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:12:00,2020-01-01T00:13:00
9,nbtrace,2020-01-01T00:13:00,2020-01-01T00:15:00,"[DataSource(identifier=50, program='themis-asi...",105.345328,488.349867,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:14:00,2020-01-01T00:15:00
36,nbtrace,2020-01-01T00:13:00,2020-01-01T00:14:00,"[DataSource(identifier=50, program='themis-asi...",215.337413,330.343161,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:14:00,2020-01-01T00:13:00
16,nbtrace,2020-01-01T00:13:00,2020-01-01T00:13:00,"[DataSource(identifier=54, program='themis-asi...",401.883399,401.883399,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:13:00,2020-01-01T00:13:00
33,nbtrace,2020-01-01T00:44:00,2020-01-01T00:45:00,"[DataSource(identifier=48, program='themis-asi...",176.558673,365.537448,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:45:00,2020-01-01T00:44:00
7,nbtrace,2020-01-01T00:44:00,2020-01-01T00:46:00,"[DataSource(identifier=48, program='themis-asi...",114.890751,488.203200,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:45:00,2020-01-01T00:46:00
40,nbtrace,2020-01-01T00:46:00,2020-01-01T00:47:00,"[DataSource(identifier=52, program='themis-asi...",275.851379,345.489291,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:47:00,2020-01-01T00:46:00
14,nbtrace,2020-01-01T00:46:00,2020-01-01T00:47:00,"[DataSource(identifier=52, program='themis-asi...",216.790371,385.043153,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:47:00,2020-01-01T00:46:00
8,nbtrace,2020-01-01T00:47:00,2020-01-01T00:48:00,"[DataSource(identifier=49, program='themis-asi...",332.998445,461.144528,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:48:00,2020-01-01T00:47:00
34,nbtrace,2020-01-01T00:47:00,2020-01-01T00:48:00,"[DataSource(identifier=49, program='themis-asi...",355.233113,396.151714,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:48:00,2020-01-01T00:47:00
35,nbtrace,2020-01-01T00:50:00,2020-01-01T00:51:00,"[DataSource(identifier=51, program='themis-asi...",117.379897,241.904346,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:51:00,2020-01-01T00:50:00
24,nbtrace,2020-01-01T00:52:00,2020-01-01T00:52:00,"[DataSource(identifier=46, program='themis-asi...",460.151231,460.151231,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:52:00,2020-01-01T00:52:00
42,nbtrace,2020-01-01T00:53:00,2020-01-01T00:53:00,"[DataSource(identifier=54, program='themis-asi...",430.171520,430.171520,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:53:00,2020-01-01T00:53:00
21,nbtrace,2020-01-01T00:54:00,2020-01-01T00:55:00,"[DataSource(identifier=44, program='themis-asi...",265.640223,333.568278,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:54:00,2020-01-01T00:55:00
28,nbtrace,2020-01-01T01:29:00,2020-01-01T01:29:00,"[DataSource(identifier=47, program='themis-asi...",493.180071,493.180071,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T01:29:00,2020-01-01T01:29:00
2,nbtrace,2020-01-01T01:43:00,2020-01-01T01:45:00,"[DataSource(identifier=45, program='themis-asi...",131.293608,465.392815,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T01:44:00,2020-01-01T01:43:00
25,nbtrace,2020-01-01T01:43:00,2020-01-01T01:45:00,"[DataSource(identifier=45, program='themis-asi...",198.022033,490.128034,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T01:44:00,2020-01-01T01:45:00
23,nbtrace,2020-01-01T01:45:00,2020-01-01T01:46:00,"[DataSource(identifier=44, program='themis-asi...",205.885002,420.474697,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T01:46:00,2020-01-01T01:45:00
0,nbtrace,2020-01-01T01:46:00,2020-01-01T01:47:00,"[DataSource(identifier=44, program='themis-asi...",284.420850,493.197476,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T01:46:00,2020-01-01T01:47:00
10,nbtrace,2020-01-01T02:17:00,2020-01-01T02:18:00,"[DataSource(identifier=50, program='themis-asi...",347.656216,390.934039,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T02:17:00,2020-01-01T02:18:00
37,nbtrace,2020-01-01T02:17:00,2020-01-01T02:18:00,"[DataSource(identifier=50, program='themis-asi...",375.455878,459.284383,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T02:17:00,2020-01-01T02:18:00
41,nbtrace,2020-01-01T02:19:00,2020-01-01T02:20:00,"[DataSource(identifier=52, program='themis-asi...",197.889134,494.591201,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T02:20:00,2020-01-01T02:19:00
13,nbtrace,2020-01-01T02:20:00,2020-01-01T02:21:00,"[DataSource(identifier=52, program='themis-asi...",228.831208,480.716179,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T02:20:00,2020-01-01T02:21:00
22,nbtrace,2020-01-01T02:28:00,2020-01-01T02:29:00,"[DataSource(identifier=45, program='themis-asi...",156.167998,288.063655,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T02:29:00,2020-01-01T02:28:00
6,nbtrace,2020-01-01T03:15:00,2020-01-01T03:16:00,"[DataSource(identifier=47, program='themis-asi...",412.812856,489.362899,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:16:00,2020-01-01T03:15:00
32,nbtrace,2020-01-01T03:15:00,2020-01-01T03:16:00,"[DataSource(identifier=47, program='themis-asi...",385.355069,414.231784,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:16:00,2020-01-01T03:15:00
47,nbtrace,2020-01-01T03:17:00,2020-01-01T03:18:00,"[DataSource(identifier=64, program='themis-asi...",224.424121,433.727070,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:17:00,2020-01-01T03:18:00
18,nbtrace,2020-01-01T03:17:00,2020-01-01T03:18:00,"[DataSource(identifier=64, program='themis-asi...",186.992979,344.140279,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:17:00,2020-01-01T03:18:00
17,nbtrace,2020-01-01T03:50:00,2020-01-01T03:51:00,"[DataSource(identifier=54, program='themis-asi...",106.219997,351.707007,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:51:00,2020-01-01T03:50:00
44,nbtrace,2020-01-01T03:50:00,2020-01-01T03:51:00,"[DataSource(identifier=54, program='themis-asi...",127.208169,287.958853,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:51:00,2020-01-01T03:50:00
30,nbtrace,2020-01-01T03:51:00,2020-01-01T03:52:00,"[DataSource(identifier=46, program='themis-asi...",139.462865,365.173735,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:52:00,2020-01-01T03:51:00
3,nbtrace,2020-01-01T03:51:00,2020-01-01T03:52:00,"[DataSource(identifier=46, program='themis-asi...",142.425348,433.674543,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:52:00,2020-01-01T03:51:00
11,nbtrace,2020-01-01T03:53:00,2020-01-01T03:53:00,"[DataSource(identifier=51, program='themis-asi...",219.412264,219.412264,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:53:00,2020-01-01T03:53:00
38,nbtrace,2020-01-01T03:53:00,2020-01-01T03:53:00,"[DataSource(identifier=51, program='themis-asi...",190.663238,190.663238,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:53:00,2020-01-01T03:53:00
27,nbtrace,2020-01-01T04:04:00,2020-01-01T04:04:00,"[DataSource(identifier=47, program='themis-asi...",368.898466,368.898466,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T04:04:00,2020-01-01T04:04:00
45,nbtrace,2020-01-01T04:05:00,2020-01-01T04:06:00,"[DataSource(identifier=65, program='themis-asi...",236.205457,341.436305,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T04:06:00,2020-01-01T04:05:00
48,nbtrace,2020-01-01T04:49:00,2020-01-01T04:50:00,"[DataSource(identifier=65, program='themis-asi...",244.886114,355.591219,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T04:49:00,2020-01-01T04:50:00
20,nbtrace,2020-01-01T04:49:00,2020-01-01T04:50:00,"[DataSource(identifier=65, program='themis-asi...",323.719101,352.655457,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T04:49:00,2020-01-01T04:50:00
1,nbtrace,2020-01-01T05:23:00,2020-01-01T05:23:00,"[DataSource(identifier=45, program='themis-asi...",336.102854,336.102854,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T05:23:00,2020-01-01T05:23:00
26,nbtrace,2020-01-01T05:23:00,2020-01-01T05:23:00,"[DataSource(identifier=45, program='themis-asi...",389.724805,389.724805,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T05:23:00,2020-01-01T05:23:00
19,nbtrace,2020-01-01T06:54:00,2020-01-01T06:55:00,"[DataSource(identifier=64, program='themis-asi...",256.732039,421.977224,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T06:55:00,2020-01-01T06:54:00
46,nbtrace,2020-01-01T06:54:00,2020-01-01T06:55:00,"[DataSource(identifier=64, program='themis-asi...",253.959112,302.213217,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T06:55:00,2020-01-01T06:54:00
31,nbtrace,2020-01-01T06:56:00,2020-01-01T06:56:00,"[DataSource(identifier=47, program='themis-asi...",196.531937,196.531937,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T06:56:00,2020-01-01T06:56:00
5,nbtrace,2020-01-01T06:56:00,2020-01-01T06:56:00,"[DataSource(identifier=47, program='themis-asi...",212.741402,212.741402,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T06:56:00,2020-01-01T06:56:00

# Search for conjunctions with metadata filters

In [6]:
# set up a search for conjunctions between any THEMIS-ASI or REGO instrument, and
# any Swarm instrument with north B trace region = "north polar cap"
start = datetime.datetime(2019, 2, 1, 0, 0, 0)
end = datetime.datetime(2019, 2, 10, 23, 59, 59)
ground = [{"programs": ["themis-asi", "rego"]}]
space = [{
    "programs": ["swarm"],
    "ephemeris_metadata_filters": {
        "logical_operator": "AND",
        "expressions": [{
            "key": "nbtrace_region",
            "operator": "=",
            "values": ["north polar cap"]
        }]
    }
}]

In [7]:
# perform search
s = aurorax.search.conjunctions.search(start, end, distance, ground=ground, space=space, verbose=True)

[2024-06-17 19:54:16.140261] Search object created
[2024-06-17 19:54:16.159847] Request submitted
[2024-06-17 19:54:16.159847] Request ID: 09794659-3f19-42c7-9073-244a55a2b84a
[2024-06-17 19:54:16.159847] Request details available at: https://api.aurorax.space/api/v1/conjunctions/requests/09794659-3f19-42c7-9073-244a55a2b84a
[2024-06-17 19:54:16.159847] Waiting for data ...
[2024-06-17 19:54:17.244664] Checking for data ...
[2024-06-17 19:54:18.317411] Checking for data ...
[2024-06-17 19:54:19.410627] Checking for data ...
[2024-06-17 19:54:19.482882] Data is now available
[2024-06-17 19:54:19.482882] Retrieving data ...
[2024-06-17 19:54:19.806243] Retrieved 2.1 MB of data containing 273 records

In [9]:
# output data as a pandas dataframe
conjunctions = [c.__dict__ for c in s.data]
df = pd.DataFrame(conjunctions)
df.sort_values("start")

,conjunction_type,start,end,data_sources,min_distance,max_distance,events,closest_epoch,farthest_epoch
95,nbtrace,2019-02-01T02:20:00,2019-02-01T02:21:00,"[DataSource(identifier=53, program='themis-asi...",153.987890,371.020379,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2019-02-01T02:20:00,2019-02-01T02:21:00
197,nbtrace,2019-02-01T02:20:00,2019-02-01T02:21:00,"[DataSource(identifier=80, program='rego', pla...",153.987890,371.020379,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2019-02-01T02:20:00,2019-02-01T02:21:00
232,nbtrace,2019-02-01T02:21:00,2019-02-01T02:22:00,"[DataSource(identifier=83, program='rego', pla...",267.685472,300.984658,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2019-02-01T02:22:00,2019-02-01T02:21:00
166,nbtrace,2019-02-01T03:55:00,2019-02-01T03:56:00,"[DataSource(identifier=78, program='rego', pla...",471.096543,490.131048,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2019-02-01T03:56:00,2019-02-01T03:55:00
225,nbtrace,2019-02-01T03:57:00,2019-02-01T03:57:00,"[DataSource(identifier=83, program='rego', pla...",496.774661,496.774661,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2019-02-01T03:57:00,2019-02-01T03:57:00
...,...,...,...,...,...,...,...,...,...
22,nbtrace,2019-02-10T10:31:00,2019-02-10T10:31:00,"[DataSource(identifier=51, program='themis-asi...",306.385115,306.385115,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2019-02-10T10:31:00,2019-02-10T10:31:00
70,nbtrace,2019-02-10T10:31:00,2019-02-10T10:31:00,"[DataSource(identifier=51, program='themis-asi...",284.073933,284.073933,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2019-02-10T10:31:00,2019-02-10T10:31:00
233,nbtrace,2019-02-10T12:13:00,2019-02-10T12:13:00,"[DataSource(identifier=83, program='rego', pla...",291.186735,291.186735,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2019-02-10T12:13:00,2019-02-10T12:13:00
192,nbtrace,2019-02-10T12:14:00,2019-02-10T12:15:00,"[DataSource(identifier=80, program='rego', pla...",441.735730,481.820741,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2019-02-10T12:14:00,2019-02-10T12:15:00
97,nbtrace,2019-02-10T12:14:00,2019-02-10T12:15:00,"[DataSource(identifier=53, program='themis-asi...",441.735730,481.820741,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2019-02-10T12:14:00,2019-02-10T12:15:00

# Search for conjunctions with multiple ground and space instruments, and advanced distances

In [10]:
# search for conjunctions between any REGO instrument, any TREx instrument,
# any Swarm spacecraft, and any THEMIS spacecraft
#
# we call this a search for "quadruple conjunctions"
start = datetime.datetime(2020, 1, 1, 0, 0, 0)
end = datetime.datetime(2020, 1, 4, 23, 59, 59)
ground = [{"programs": ["rego"]}, {"programs": ["trex"]}]
space = [{"programs": ["swarm"]}, {"programs": ["themis"]}]
advanced_distances = {
    "ground1-ground2": None,
    "ground1-space1": 500,
    "ground1-space2": 500,
    "ground2-space1": 500,
    "ground2-space2": 500,
    "space1-space2": None
}

In [11]:
# perform search
s = aurorax.search.conjunctions.search(start, end, advanced_distances, ground=ground, space=space, verbose=True)

[2024-06-17 19:54:32.651104] Search object created
[2024-06-17 19:54:32.679067] Request submitted
[2024-06-17 19:54:32.679067] Request ID: 0ff5a494-1897-4bf3-a2d5-e755f20afb7f
[2024-06-17 19:54:32.679067] Request details available at: https://api.aurorax.space/api/v1/conjunctions/requests/0ff5a494-1897-4bf3-a2d5-e755f20afb7f
[2024-06-17 19:54:32.679067] Waiting for data ...
[2024-06-17 19:54:33.762481] Checking for data ...
[2024-06-17 19:54:34.845200] Checking for data ...
[2024-06-17 19:54:35.929597] Checking for data ...
[2024-06-17 19:54:37.014398] Checking for data ...
[2024-06-17 19:54:38.102336] Checking for data ...
[2024-06-17 19:54:39.186688] Checking for data ...
[2024-06-17 19:54:40.270129] Checking for data ...
[2024-06-17 19:54:41.344924] Checking for data ...
[2024-06-17 19:54:42.433446] Checking for data ...
[2024-06-17 19:54:42.520000] Data is now available
[2024-06-17 19:54:42.520000] Retrieving data ...
[2024-06-17 19:54:42.627556] Retrieved 87.8 kB of data containing 8 records

In [12]:
# output data as a pandas dataframe
conjunctions = [c.__dict__ for c in s.data]
df = pd.DataFrame(conjunctions)
df.sort_values("start")

,conjunction_type,start,end,data_sources,min_distance,max_distance,events,closest_epoch,farthest_epoch
4,nbtrace,2020-01-02T13:00:00,2020-01-02T13:01:00,"[DataSource(identifier=81, program='rego', pla...",384.347496,440.461162,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-02T13:01:00,2020-01-02T13:00:00
7,nbtrace,2020-01-02T13:00:00,2020-01-02T13:01:00,"[DataSource(identifier=81, program='rego', pla...",384.347496,440.461162,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-02T13:01:00,2020-01-02T13:00:00
0,nbtrace,2020-01-03T12:33:00,2020-01-03T12:35:00,"[DataSource(identifier=81, program='rego', pla...",111.324353,485.848555,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-03T12:34:00,2020-01-03T12:35:00
1,nbtrace,2020-01-03T12:33:00,2020-01-03T12:35:00,"[DataSource(identifier=81, program='rego', pla...",111.324353,485.848555,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-03T12:34:00,2020-01-03T12:35:00
3,nbtrace,2020-01-03T12:33:00,2020-01-03T12:34:00,"[DataSource(identifier=81, program='rego', pla...",122.118464,294.065540,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-03T12:34:00,2020-01-03T12:33:00
6,nbtrace,2020-01-03T12:33:00,2020-01-03T12:34:00,"[DataSource(identifier=81, program='rego', pla...",122.118464,294.065540,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-03T12:34:00,2020-01-03T12:33:00
2,nbtrace,2020-01-03T12:40:00,2020-01-03T12:42:00,"[DataSource(identifier=81, program='rego', pla...",255.883772,476.507384,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-03T12:41:00,2020-01-03T12:40:00
5,nbtrace,2020-01-03T12:40:00,2020-01-03T12:42:00,"[DataSource(identifier=81, program='rego', pla...",255.883772,476.507384,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-03T12:41:00,2020-01-03T12:40:00

# Search for conjunctions between spacecrafts only

In [13]:
# search for conjunctions between Swarm A or Swarm B, and
# any THEMIS spacecraft with the south B trace region = "south polar cap"
start = datetime.datetime(2019, 1, 1, 0, 0, 0)
end = datetime.datetime(2019, 1, 1, 23, 59, 59)
space = [{
    "programs": ["themis"]
}, {
    "programs": ["swarm"],
    "platforms": ["swarma", "swarmb"],
    "hemisphere": ["southern"],
    "ephemeris_metadata_filters": {
        "logical_operator": "AND",
        "expressions": [{
            "key": "sbtrace_region",
            "operator": "=",
            "values": ["south polar cap"]
        }]
    }
}]
distance = 500

In [14]:
#perform search
s = aurorax.search.conjunctions.search(start, end, distance, space=space, verbose=True)

[2024-06-17 19:54:55.358357] Search object created
[2024-06-17 19:54:55.395953] Request submitted
[2024-06-17 19:54:55.395953] Request ID: 2b07ff59-0b40-4948-affd-7387fc858152
[2024-06-17 19:54:55.395953] Request details available at: https://api.aurorax.space/api/v1/conjunctions/requests/2b07ff59-0b40-4948-affd-7387fc858152
[2024-06-17 19:54:55.395953] Waiting for data ...
[2024-06-17 19:54:56.480359] Checking for data ...
[2024-06-17 19:54:56.566325] Data is now available
[2024-06-17 19:54:56.566325] Retrieving data ...
[2024-06-17 19:54:56.652588] Retrieved 17.3 kB of data containing 2 records

In [15]:
# output data as a pandas dataframe
conjunctions = [c.__dict__ for c in s.data]
df = pd.DataFrame(conjunctions)
df.sort_values("start")

,conjunction_type,start,end,data_sources,min_distance,max_distance,events,closest_epoch,farthest_epoch
1,nbtrace,2019-01-01T10:01:00,2019-01-01T10:01:00,"[DataSource(identifier=33, program='themis', p...",311.183877,311.183877,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2019-01-01T10:01:00,2019-01-01T10:01:00
0,nbtrace,2019-01-01T12:08:00,2019-01-01T12:08:00,"[DataSource(identifier=33, program='themis', p...",215.817544,215.817544,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2019-01-01T12:08:00,2019-01-01T12:08:00

# Do the search step-by-step

Under the hood, the AuroraX API performs a conjunction search asynchronously. Note that this does not mean that it can be done using a Python async method; it means that PyAuroraX does more than just a single HTTP request against the AuroraX API when doing a search. With the API operating this way, it adds some more complexity within PyAuroraX but also opens the search up to some very important capabilities. The main capability enabled by this architecture is the ablity to perform queries for a large timeframe, and/or between a large number of data sources. Queries like this can easily take several minutes. A conventional HTTP request would normally timeout because of this, ultimately failing to complete the search.

Instead of using the `pyaurorax.conjunctions.search` method which wraps all logic into an easy function, you can also perform a conjunction search step-by-step if you want more control over the process. Below, we do a search in this manner.

In [16]:
# set up the search parameters
start = datetime.datetime(2020, 1, 1, 0, 0, 0)
end = datetime.datetime(2020, 1, 1, 6, 59, 59)
ground = [{"programs": ["themis-asi"]}]
space = [{"programs": ["swarm"]}]
distance = 500

In [18]:
# create a Search object
s = pyaurorax.search.ConjunctionSearch(aurorax, start, end, distance, ground=ground, space=space)
print(s)

ConjunctionSearch(executed=False, completed=False, request_id='')

In [19]:
# execute the search
s.execute()
print(s)

ConjunctionSearch(executed=True, completed=False, request_id='86b5e7b0-fe87-424a-a894-dd8c80f7beaa')

In [20]:
# get request status
s.update_status()
pprint.pprint(s.status)

{'logs': [{'level': 'debug',
           'summary': 'Search request arrived and saved',
           'timestamp': '2024-06-18T01:56:33.399473'},
          {'level': 'info',
           'summary': 'Starting conjunction search for query '
                      '86b5e7b0-fe87-424a-a894-dd8c80f7beaa',
           'timestamp': '2024-06-18T01:56:33.405771'},
          {'level': 'debug',
           'summary': 'Start search for nbtrace conjunctions using query: Find '
                      'conjunctions of type (nbtrace) with epoch precision of '
                      '60 seconds between data sources of ground1=(program in '
                      '(themis-asi)) AND space1=(program in (swarm)) WHERE '
                      'epochs are between 2020-01-01T00:00:00 AND '
                      '2020-01-01T06:59:59 UTC HAVING max distances between '
                      'location points of ground1-space1=500 km.',
           'timestamp': '2024-06-18T01:56:33.408107'},
          {'level': 'debug',
           'summary': 'Querying the database 1 times for this overall '
                      'combination of criteria blocks and conjunction types. '
                      'This log message will repeat 1 times during this '
                      'search.',
           'timestamp': '2024-06-18T01:56:33.41452'},
          {'level': 'debug',
           'summary': 'Querying database for criteria combination [(program in '
                      '(themis-asi)), (program in (swarm))]',
           'timestamp': '2024-06-18T01:56:33.416734'},
          {'level': 'debug',
           'summary': 'Found 92 single epoch events',
           'timestamp': '2024-06-18T01:56:33.498374'},
          {'level': 'debug',
           'summary': 'Reduced single events into 49 continuous intervals',
           'timestamp': '2024-06-18T01:56:33.500306'},
          {'level': 'debug',
           'summary': 'Searching for super events across all data source '
                      'combinations: [[64, 3], [64, 29], [64, 30], [65, 3], '
                      '[65, 29], [65, 30], [66, 3], [66, 29], [66, 30], [71, '
                      '3], [71, 29], [71, 30], [73, 3], [73, 29], [73, 30], '
                      '[44, 3], [44, 29], [44, 30], [45, 3], [45, 29], [45, '
                      '30], [46, 3], [46, 29], [46, 30], [47, 3], [47, 29], '
                      '[47, 30], [48, 3], [48, 29], [48, 30], [49, 3], [49, '
                      '29], [49, 30], [50, 3], [50, 29], [50, 30], [51, 3], '
                      '[51, 29], [51, 30], [52, 3], [52, 29], [52, 30], [53, '
                      '3], [53, 29], [53, 30], [54, 3], [54, 29], [54, 30], '
                      '[55, 3], [55, 29], [55, 30], [56, 3], [56, 29], [56, '
                      '30], [57, 3], [57, 29], [57, 30], [58, 3], [58, 29], '
                      '[58, 30], [59, 3], [59, 29], [59, 30], [60, 3], [60, '
                      '29], [60, 30], [61, 3], [61, 29], [61, 30], [62, 3], '
                      '[62, 29], [62, 30]]',
           'timestamp': '2024-06-18T01:56:33.503857'},
          {'level': 'debug',
           'summary': 'Found 49 super events',
           'timestamp': '2024-06-18T01:56:33.507299'},
          {'level': 'debug',
           'summary': 'Saving results',
           'timestamp': '2024-06-18T01:56:33.696636'},
          {'level': 'info',
           'summary': 'Search completed',
           'timestamp': '2024-06-18T01:56:33.726311'},
          {'level': 'debug',
           'summary': 'File size is 376747 bytes.',
           'timestamp': '2024-06-18T01:56:33.728624'},
          {'level': 'info',
           'summary': 'Finished search in 0.33 seconds and found 49 records.',
           'timestamp': '2024-06-18T01:56:33.733203'}],
 'search_request': {'query': {'adhoc': [],
                              'conjunction_types': ['nbtrace'],
                              'end': '2020-01-01T06:59:59',
                              'epoch_search_precision': 60,
                              'events': [],
                              'ground': [{'ephemeris_metadata_filters': None,
                                          'instrument_types': [],
                                          'platforms': [],
                                          'programs': ['themis-asi']}],
                              'max_distances': {'ground1-space1': 500},
                              'request_id': None,
                              'space': [{'ephemeris_metadata_filters': None,
                                         'hemisphere': [],
                                         'instrument_types': [],
                                         'platforms': [],
                                         'programs': ['swarm']}],
                              'start': '2020-01-01T00:00:00'},
                    'request_id': '86b5e7b0-fe87-424a-a894-dd8c80f7beaa',
                    'request_type': 'conjunction',
                    'requested': '2024-06-18T01:56:33.390293'},
 'search_result': {'completed_timestamp': '2024-06-18T01:56:33.730679',
                   'data_uri': '/api/v1/conjunctions/requests/86b5e7b0-fe87-424a-a894-dd8c80f7beaa/data',
                   'error_condition': False,
                   'file_size': 376747,
                   'query_duration': 325,
                   'result_count': 49,
                   'result_file_deleted_timestamp': None}}

In [21]:
# view just the logs for the request (update the status beforehand, but we do that in the above cell)
pprint.pprint(s.logs)

[{'level': 'debug',
  'summary': 'Search request arrived and saved',
  'timestamp': '2024-06-18T01:56:33.399473'},
 {'level': 'info',
  'summary': 'Starting conjunction search for query '
             '86b5e7b0-fe87-424a-a894-dd8c80f7beaa',
  'timestamp': '2024-06-18T01:56:33.405771'},
 {'level': 'debug',
  'summary': 'Start search for nbtrace conjunctions using query: Find '
             'conjunctions of type (nbtrace) with epoch precision of 60 '
             'seconds between data sources of ground1=(program in '
             '(themis-asi)) AND space1=(program in (swarm)) WHERE epochs are '
             'between 2020-01-01T00:00:00 AND 2020-01-01T06:59:59 UTC HAVING '
             'max distances between location points of ground1-space1=500 km.',
  'timestamp': '2024-06-18T01:56:33.408107'},
 {'level': 'debug',
  'summary': 'Querying the database 1 times for this overall combination of '
             'criteria blocks and conjunction types. This log message will '
             'repeat 1 times during this search.',
  'timestamp': '2024-06-18T01:56:33.41452'},
 {'level': 'debug',
  'summary': 'Querying database for criteria combination [(program in '
             '(themis-asi)), (program in (swarm))]',
  'timestamp': '2024-06-18T01:56:33.416734'},
 {'level': 'debug',
  'summary': 'Found 92 single epoch events',
  'timestamp': '2024-06-18T01:56:33.498374'},
 {'level': 'debug',
  'summary': 'Reduced single events into 49 continuous intervals',
  'timestamp': '2024-06-18T01:56:33.500306'},
 {'level': 'debug',
  'summary': 'Searching for super events across all data source combinations: '
             '[[64, 3], [64, 29], [64, 30], [65, 3], [65, 29], [65, 30], [66, '
             '3], [66, 29], [66, 30], [71, 3], [71, 29], [71, 30], [73, 3], '
             '[73, 29], [73, 30], [44, 3], [44, 29], [44, 30], [45, 3], [45, '
             '29], [45, 30], [46, 3], [46, 29], [46, 30], [47, 3], [47, 29], '
             '[47, 30], [48, 3], [48, 29], [48, 30], [49, 3], [49, 29], [49, '
             '30], [50, 3], [50, 29], [50, 30], [51, 3], [51, 29], [51, 30], '
             '[52, 3], [52, 29], [52, 30], [53, 3], [53, 29], [53, 30], [54, '
             '3], [54, 29], [54, 30], [55, 3], [55, 29], [55, 30], [56, 3], '
             '[56, 29], [56, 30], [57, 3], [57, 29], [57, 30], [58, 3], [58, '
             '29], [58, 30], [59, 3], [59, 29], [59, 30], [60, 3], [60, 29], '
             '[60, 30], [61, 3], [61, 29], [61, 30], [62, 3], [62, 29], [62, '
             '30]]',
  'timestamp': '2024-06-18T01:56:33.503857'},
 {'level': 'debug',
  'summary': 'Found 49 super events',
  'timestamp': '2024-06-18T01:56:33.507299'},
 {'level': 'debug',
  'summary': 'Saving results',
  'timestamp': '2024-06-18T01:56:33.696636'},
 {'level': 'info',
  'summary': 'Search completed',
  'timestamp': '2024-06-18T01:56:33.726311'},
 {'level': 'debug',
  'summary': 'File size is 376747 bytes.',
  'timestamp': '2024-06-18T01:56:33.728624'},
 {'level': 'info',
  'summary': 'Finished search in 0.33 seconds and found 49 records.',
  'timestamp': '2024-06-18T01:56:33.733203'}]

In [22]:
# wait for the data
s.wait()
s.update_status()

In [23]:
# get data
s.get_data()

# show data as pandas dataframe
data_products = [d.__dict__ for d in s.data]
df = pd.DataFrame(data_products)
df.sort_values("start")

,conjunction_type,start,end,data_sources,min_distance,max_distance,events,closest_epoch,farthest_epoch
43,nbtrace,2020-01-01T00:08:00,2020-01-01T00:09:00,"[DataSource(identifier=53, program='themis-asi...",206.588207,260.819127,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:09:00,2020-01-01T00:08:00
15,nbtrace,2020-01-01T00:08:00,2020-01-01T00:09:00,"[DataSource(identifier=53, program='themis-asi...",192.029390,336.631805,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:09:00,2020-01-01T00:08:00
39,nbtrace,2020-01-01T00:10:00,2020-01-01T00:11:00,"[DataSource(identifier=51, program='themis-asi...",195.554240,298.419001,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:10:00,2020-01-01T00:11:00
12,nbtrace,2020-01-01T00:10:00,2020-01-01T00:11:00,"[DataSource(identifier=51, program='themis-asi...",282.877438,285.744881,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:10:00,2020-01-01T00:11:00
29,nbtrace,2020-01-01T00:11:00,2020-01-01T00:13:00,"[DataSource(identifier=46, program='themis-asi...",53.391843,441.814398,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:12:00,2020-01-01T00:11:00
4,nbtrace,2020-01-01T00:12:00,2020-01-01T00:13:00,"[DataSource(identifier=46, program='themis-asi...",89.436436,332.998863,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:12:00,2020-01-01T00:13:00
9,nbtrace,2020-01-01T00:13:00,2020-01-01T00:15:00,"[DataSource(identifier=50, program='themis-asi...",105.345328,488.349867,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:14:00,2020-01-01T00:15:00
36,nbtrace,2020-01-01T00:13:00,2020-01-01T00:14:00,"[DataSource(identifier=50, program='themis-asi...",215.337413,330.343161,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:14:00,2020-01-01T00:13:00
16,nbtrace,2020-01-01T00:13:00,2020-01-01T00:13:00,"[DataSource(identifier=54, program='themis-asi...",401.883399,401.883399,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:13:00,2020-01-01T00:13:00
33,nbtrace,2020-01-01T00:44:00,2020-01-01T00:45:00,"[DataSource(identifier=48, program='themis-asi...",176.558673,365.537448,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:45:00,2020-01-01T00:44:00
7,nbtrace,2020-01-01T00:44:00,2020-01-01T00:46:00,"[DataSource(identifier=48, program='themis-asi...",114.890751,488.203200,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:45:00,2020-01-01T00:46:00
40,nbtrace,2020-01-01T00:46:00,2020-01-01T00:47:00,"[DataSource(identifier=52, program='themis-asi...",275.851379,345.489291,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:47:00,2020-01-01T00:46:00
13,nbtrace,2020-01-01T00:46:00,2020-01-01T00:47:00,"[DataSource(identifier=52, program='themis-asi...",216.790371,385.043153,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:47:00,2020-01-01T00:46:00
8,nbtrace,2020-01-01T00:47:00,2020-01-01T00:48:00,"[DataSource(identifier=49, program='themis-asi...",332.998445,461.144528,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:48:00,2020-01-01T00:47:00
34,nbtrace,2020-01-01T00:47:00,2020-01-01T00:48:00,"[DataSource(identifier=49, program='themis-asi...",355.233113,396.151714,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:48:00,2020-01-01T00:47:00
35,nbtrace,2020-01-01T00:50:00,2020-01-01T00:51:00,"[DataSource(identifier=51, program='themis-asi...",117.379897,241.904346,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:51:00,2020-01-01T00:50:00
24,nbtrace,2020-01-01T00:52:00,2020-01-01T00:52:00,"[DataSource(identifier=46, program='themis-asi...",460.151231,460.151231,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:52:00,2020-01-01T00:52:00
42,nbtrace,2020-01-01T00:53:00,2020-01-01T00:53:00,"[DataSource(identifier=54, program='themis-asi...",430.171520,430.171520,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:53:00,2020-01-01T00:53:00
21,nbtrace,2020-01-01T00:54:00,2020-01-01T00:55:00,"[DataSource(identifier=44, program='themis-asi...",265.640223,333.568278,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T00:54:00,2020-01-01T00:55:00
28,nbtrace,2020-01-01T01:29:00,2020-01-01T01:29:00,"[DataSource(identifier=47, program='themis-asi...",493.180071,493.180071,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T01:29:00,2020-01-01T01:29:00
2,nbtrace,2020-01-01T01:43:00,2020-01-01T01:45:00,"[DataSource(identifier=45, program='themis-asi...",131.293608,465.392815,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T01:44:00,2020-01-01T01:43:00
25,nbtrace,2020-01-01T01:43:00,2020-01-01T01:45:00,"[DataSource(identifier=45, program='themis-asi...",198.022033,490.128034,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T01:44:00,2020-01-01T01:45:00
23,nbtrace,2020-01-01T01:45:00,2020-01-01T01:46:00,"[DataSource(identifier=44, program='themis-asi...",205.885002,420.474697,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T01:46:00,2020-01-01T01:45:00
0,nbtrace,2020-01-01T01:46:00,2020-01-01T01:47:00,"[DataSource(identifier=44, program='themis-asi...",284.420850,493.197476,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T01:46:00,2020-01-01T01:47:00
10,nbtrace,2020-01-01T02:17:00,2020-01-01T02:18:00,"[DataSource(identifier=50, program='themis-asi...",347.656216,390.934039,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T02:17:00,2020-01-01T02:18:00
37,nbtrace,2020-01-01T02:17:00,2020-01-01T02:18:00,"[DataSource(identifier=50, program='themis-asi...",375.455878,459.284383,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T02:17:00,2020-01-01T02:18:00
41,nbtrace,2020-01-01T02:19:00,2020-01-01T02:20:00,"[DataSource(identifier=52, program='themis-asi...",197.889134,494.591201,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T02:20:00,2020-01-01T02:19:00
14,nbtrace,2020-01-01T02:20:00,2020-01-01T02:21:00,"[DataSource(identifier=52, program='themis-asi...",228.831208,480.716179,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T02:20:00,2020-01-01T02:21:00
22,nbtrace,2020-01-01T02:28:00,2020-01-01T02:29:00,"[DataSource(identifier=45, program='themis-asi...",156.167998,288.063655,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T02:29:00,2020-01-01T02:28:00
6,nbtrace,2020-01-01T03:15:00,2020-01-01T03:16:00,"[DataSource(identifier=47, program='themis-asi...",412.812856,489.362899,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:16:00,2020-01-01T03:15:00
32,nbtrace,2020-01-01T03:15:00,2020-01-01T03:16:00,"[DataSource(identifier=47, program='themis-asi...",385.355069,414.231784,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:16:00,2020-01-01T03:15:00
47,nbtrace,2020-01-01T03:17:00,2020-01-01T03:18:00,"[DataSource(identifier=64, program='themis-asi...",224.424121,433.727070,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:17:00,2020-01-01T03:18:00
18,nbtrace,2020-01-01T03:17:00,2020-01-01T03:18:00,"[DataSource(identifier=64, program='themis-asi...",186.992979,344.140279,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:17:00,2020-01-01T03:18:00
17,nbtrace,2020-01-01T03:50:00,2020-01-01T03:51:00,"[DataSource(identifier=54, program='themis-asi...",106.219997,351.707007,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:51:00,2020-01-01T03:50:00
44,nbtrace,2020-01-01T03:50:00,2020-01-01T03:51:00,"[DataSource(identifier=54, program='themis-asi...",127.208169,287.958853,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:51:00,2020-01-01T03:50:00
30,nbtrace,2020-01-01T03:51:00,2020-01-01T03:52:00,"[DataSource(identifier=46, program='themis-asi...",139.462865,365.173735,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:52:00,2020-01-01T03:51:00
3,nbtrace,2020-01-01T03:51:00,2020-01-01T03:52:00,"[DataSource(identifier=46, program='themis-asi...",142.425348,433.674543,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:52:00,2020-01-01T03:51:00
11,nbtrace,2020-01-01T03:53:00,2020-01-01T03:53:00,"[DataSource(identifier=51, program='themis-asi...",219.412264,219.412264,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:53:00,2020-01-01T03:53:00
38,nbtrace,2020-01-01T03:53:00,2020-01-01T03:53:00,"[DataSource(identifier=51, program='themis-asi...",190.663238,190.663238,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T03:53:00,2020-01-01T03:53:00
27,nbtrace,2020-01-01T04:04:00,2020-01-01T04:04:00,"[DataSource(identifier=47, program='themis-asi...",368.898466,368.898466,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T04:04:00,2020-01-01T04:04:00
45,nbtrace,2020-01-01T04:05:00,2020-01-01T04:06:00,"[DataSource(identifier=65, program='themis-asi...",236.205457,341.436305,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T04:06:00,2020-01-01T04:05:00
48,nbtrace,2020-01-01T04:49:00,2020-01-01T04:50:00,"[DataSource(identifier=65, program='themis-asi...",244.886114,355.591219,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T04:49:00,2020-01-01T04:50:00
20,nbtrace,2020-01-01T04:49:00,2020-01-01T04:50:00,"[DataSource(identifier=65, program='themis-asi...",323.719101,352.655457,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T04:49:00,2020-01-01T04:50:00
1,nbtrace,2020-01-01T05:23:00,2020-01-01T05:23:00,"[DataSource(identifier=45, program='themis-asi...",336.102854,336.102854,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T05:23:00,2020-01-01T05:23:00
26,nbtrace,2020-01-01T05:23:00,2020-01-01T05:23:00,"[DataSource(identifier=45, program='themis-asi...",389.724805,389.724805,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T05:23:00,2020-01-01T05:23:00
19,nbtrace,2020-01-01T06:54:00,2020-01-01T06:55:00,"[DataSource(identifier=64, program='themis-asi...",256.732039,421.977224,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T06:55:00,2020-01-01T06:54:00
46,nbtrace,2020-01-01T06:54:00,2020-01-01T06:55:00,"[DataSource(identifier=64, program='themis-asi...",253.959112,302.213217,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T06:55:00,2020-01-01T06:54:00
31,nbtrace,2020-01-01T06:56:00,2020-01-01T06:56:00,"[DataSource(identifier=47, program='themis-asi...",196.531937,196.531937,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T06:56:00,2020-01-01T06:56:00
5,nbtrace,2020-01-01T06:56:00,2020-01-01T06:56:00,"[DataSource(identifier=47, program='themis-asi...",212.741402,212.741402,"[{'conjunction_type': 'nbtrace', 'e1_source': ...",2020-01-01T06:56:00,2020-01-01T06:56:00