# Imports

In [1]:
import aurorax
import datetime
import pprint
import os
import pandas as pd
import time

# Create data product records to demonstrate deleting them

In [2]:
# read API key from environment vars
api_key = os.environ["AURORAX_API_KEY"]
aurorax.authenticate(api_key)
aurorax.api.set_base_url("https://api.staging.aurorax.space")

In [3]:
# set values
program = "notebook-program"
platform = "notebook-platform"
instrument_type = "notebook-instrument-type"

# get the data source ID
ds = aurorax.sources.get(program, platform, instrument_type)

# create first DataProduct object
dp1 = aurorax.data_products.DataProduct(data_source=ds,
                                      data_product_type="keogram",
                                      url="dp1.jpg",
                                      start=datetime.datetime(2020, 1, 1, 0, 0, 0),
                                      end=datetime.datetime(2020, 1, 1, 23, 59, 59),
                                      metadata={
                                          "test_key": True
                                      })

# create second DataProduct object
dp2 = aurorax.data_products.DataProduct(data_source=ds,
                                      data_product_type="keogram",
                                      url="dp2.jpg",
                                      start=datetime.datetime(2020, 1, 2, 0, 0, 0),
                                      end=datetime.datetime(2020, 1, 2, 23, 59, 59),
                                      metadata={
                                          "test_key": False
                                      })

# create third DataProduct object
dp3 = aurorax.data_products.DataProduct(data_source=ds,
                                      data_product_type="keogram",
                                      url="dp3.jpg",
                                      start=datetime.datetime(2020, 1, 3, 0, 0, 0),
                                      end=datetime.datetime(2020, 1, 3, 23, 59, 59),
                                      metadata={
                                          "test_key": True
                                      })

# create fourth DataProduct object
dp4 = aurorax.data_products.DataProduct(data_source=ds,
                                      data_product_type="movie",
                                      url="dp4.jpg",
                                      start=datetime.datetime(2020, 1, 1, 0, 0, 0),
                                      end=datetime.datetime(2020, 1, 1, 23, 59, 59),
                                      metadata={
                                          "test_key": True
                                      })

# create fifth DataProduct object
dp5 = aurorax.data_products.DataProduct(data_source=ds,
                                      data_product_type="movie",
                                      url="dp5.jpg",
                                      start=datetime.datetime(2020, 1, 2, 0, 0, 0),
                                      end=datetime.datetime(2020, 1, 2, 23, 59, 59),
                                      metadata={
                                          "test_key": False
                                      })

# create sixth DataProduct object
dp6 = aurorax.data_products.DataProduct(data_source=ds,
                                      data_product_type="movie",
                                      url="dp6.jpg",
                                      start=datetime.datetime(2020, 1, 3, 0, 0, 0),
                                      end=datetime.datetime(2020, 1, 3, 23, 59, 59),
                                      metadata={
                                          "test_key": False
                                      })

In [4]:
# set records array
records = [dp1, dp2, dp3, dp4, dp5, dp6]

# upload records
aurorax.data_products.upload(ds.identifier, records, True)

1

In [5]:
# retrieve uploaded record
s = aurorax.data_products.search(datetime.datetime(2020, 1, 1, 0, 0, 0),
                                 datetime.datetime(2020, 1, 3, 23, 59, 59),
                                 programs=["notebook-program"],
                                 platforms=["notebook-platform"],
                                 instrument_types=["notebook-instrument-type"])

# show data as a pandas dataframe
data_product_data = [dp.__dict__ for dp in s.data]
df = pd.DataFrame(data_product_data)
df

,data_source,data_product_type,start,end,url,metadata
0,"{'data_product_metadata_schema': [],\n 'displa...",keogram,2020-01-01,2020-01-01 23:59:00,dp1.jpg,{'test_key': True}
1,"{'data_product_metadata_schema': [],\n 'displa...",movie,2020-01-01,2020-01-01 23:59:00,dp4.jpg,{'test_key': True}
2,"{'data_product_metadata_schema': [],\n 'displa...",keogram,2020-01-02,2020-01-02 23:59:00,dp2.jpg,{'test_key': False}
3,"{'data_product_metadata_schema': [],\n 'displa...",movie,2020-01-02,2020-01-02 23:59:00,dp5.jpg,{'test_key': False}
4,"{'data_product_metadata_schema': [],\n 'displa...",keogram,2020-01-03,2020-01-03 23:59:00,dp3.jpg,{'test_key': True}
5,"{'data_product_metadata_schema': [],\n 'displa...",movie,2020-01-03,2020-01-03 23:59:00,dp6.jpg,{'test_key': False}

# Delete data products by URL

In [6]:
# delete specific URLs
aurorax.data_products.delete(ds, ["dp1.jpg", "dp4.jpg"])

# retrieve remaining records
s = aurorax.data_products.search(datetime.datetime(2020, 1, 1, 0, 0, 0),
                                 datetime.datetime(2020, 1, 3, 23, 59, 59),
                                 programs=["notebook-program"],
                                 platforms=["notebook-platform"],
                                 instrument_types=["notebook-instrument-type"])

# show data as a pandas dataframe
data_product_data = [dp.__dict__ for dp in s.data]
df = pd.DataFrame(data_product_data)
df

,data_source,data_product_type,start,end,url,metadata
0,"{'data_product_metadata_schema': [],\n 'displa...",keogram,2020-01-02,2020-01-02 23:59:00,dp2.jpg,{'test_key': False}
1,"{'data_product_metadata_schema': [],\n 'displa...",movie,2020-01-02,2020-01-02 23:59:00,dp5.jpg,{'test_key': False}
2,"{'data_product_metadata_schema': [],\n 'displa...",keogram,2020-01-03,2020-01-03 23:59:00,dp3.jpg,{'test_key': True}
3,"{'data_product_metadata_schema': [],\n 'displa...",movie,2020-01-03,2020-01-03 23:59:00,dp6.jpg,{'test_key': False}

# Delete data products by date range, with data_product_types and metadata_filters

In [7]:
# delete keogram data products with metadata value "test_key" = True
aurorax.data_products.delete_daterange(ds,
                                       datetime.datetime(2020, 1, 1, 0, 0, 0),
                                       datetime.datetime(2020, 1, 3, 23, 59, 59),
                                       data_product_types=["keogram"],
                                       metadata_filters=[{"key": "test_key", "values": [False], "operator": "="}])

1

In [8]:
# retrieve remaining records
s = aurorax.data_products.search(datetime.datetime(2020, 1, 1, 0, 0, 0),
                                 datetime.datetime(2020, 1, 3, 23, 59, 59),
                                 programs=["notebook-program"],
                                 platforms=["notebook-platform"],
                                 instrument_types=["notebook-instrument-type"])

# show data as a pandas dataframe
data_product_data = [dp.__dict__ for dp in s.data]
df = pd.DataFrame(data_product_data)
df

,data_source,data_product_type,start,end,url,metadata
0,"{'data_product_metadata_schema': [],\n 'displa...",movie,2020-01-02,2020-01-02 23:59:00,dp5.jpg,{'test_key': False}
1,"{'data_product_metadata_schema': [],\n 'displa...",keogram,2020-01-03,2020-01-03 23:59:00,dp3.jpg,{'test_key': True}
2,"{'data_product_metadata_schema': [],\n 'displa...",movie,2020-01-03,2020-01-03 23:59:00,dp6.jpg,{'test_key': False}

# Delete data products by date range only

In [9]:
# delete all data products in date range
aurorax.data_products.delete_daterange(ds,
                                       datetime.datetime(2020, 1, 1, 0, 0, 0),
                                       datetime.datetime(2020, 1, 3, 23, 59, 59))

1

In [10]:
# retrieve remaining records
s = aurorax.data_products.search(datetime.datetime(2020, 1, 1, 0, 0, 0),
                                 datetime.datetime(2020, 1, 3, 23, 59, 59),
                                 programs=["notebook-program"],
                                 platforms=["notebook-platform"],
                                 instrument_types=["notebook-instrument-type"])

if len(s.data) == 0:
    print("Data was deleted")
else:
    print("Data was not deleted")

Data was deleted